sudo: false

language: scala

script:
  - sbt ++$TRAVIS_SCALA_VERSION sbt-dynscalajs/publishLocal
  - sbt ++$TRAVIS_SCALA_VERSION sbt-dynscalajs-test-project/run sbt-dynscalajs-test-project/test
  - sbt ++$TRAVIS_SCALA_VERSION 'set dynScalaJSVersion in Global := Some("1.0.0-M1")' sbt-dynscalajs-test-project/run
  - sbt ++$TRAVIS_SCALA_VERSION 'set dynScalaJSVersion in Global := Some("1.0.0-M2")' sbt-dynscalajs-test-project/run sbt-dynscalajs-test-project/test
  - sbt ++$TRAVIS_SCALA_VERSION 'set dynScalaJSVersion in Global := Some("0.6.19")' sbt-dynscalajs-test-project/run
  - sbt ++$TRAVIS_SCALA_VERSION 'set dynScalaJSVersion in Global := Some("0.6.22")' sbt-dynscalajs-test-project/run sbt-dynscalajs-test-project/test
  - sbt ++$TRAVIS_SCALA_VERSION 'set scalaJSStage in Global := FullOptStage' 'set dynScalaJSVersion in Global := Some("1.0.0-M1")' sbt-dynscalajs-test-project/run
  - sbt ++$TRAVIS_SCALA_VERSION 'set scalaJSStage in Global := FullOptStage' 'set dynScalaJSVersion in Global := Some("1.0.0-M2")' sbt-dynscalajs-test-project/run sbt-dynscalajs-test-project/test
  - sbt ++$TRAVIS_SCALA_VERSION 'set scalaJSStage in Global := FullOptStage' 'set dynScalaJSVersion in Global := Some("0.6.19")' sbt-dynscalajs-test-project/run
  - sbt ++$TRAVIS_SCALA_VERSION 'set scalaJSStage in Global := FullOptStage' 'set dynScalaJSVersion in Global := Some("0.6.22")' sbt-dynscalajs-test-project/run sbt-dynscalajs-test-project/test

scala:
  - "2.12.4"
jdk:
  - oraclejdk8

cache:
  directories:
    - $HOME/.ivy2/cache
    - $HOME/.sbt
before_cache:
  - find $HOME/.ivy2/cache -name "ivydata-*.properties" -print -delete
  - find $HOME/.sbt -name "*.lock" -print -delete
